@using Portal.Models.RoleModels
@model RoleListViewModel
@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Scripts/matrix.popover.js"></script>
<style>
    #roleTable > tbody > tr > td {
        text-align: center;
        vertical-align: middle;
    }

    .back-red {
        background-color: #da4f49 !Important;
        color: white !Important;
    }
</style>
<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>角色管理</h5>
        </div>
        <div class="widget-content">
            <div class="control-group">
                <form>
                    <div class="controls">
                        <input type="button" id="addRole" name="addRole" value="建立角色" class="btn btn-lg btn-success" onclick="location.href='@Url.Content("~/Role/RoleAdd")'" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--table start-->

<div class="row-fluid">

    <div class="span12">
        <table id="roleTable" class="table table-bordered data-table tablesorter">
            <thead>
                <tr>
                    <th style="width:15%;">管理</th>
                    <th>角色代碼</th>
                    <th>角色名稱</th>
                    <th>使用數</th>
                    <th>目錄數</th>
                    <th>狀態</th>
                    <th>建立者</th>
                    <th>建立日</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Data.Count == 0)
                {
                    <tr><td colspan="8"><span style="color:red;">查無資料!</span></td></tr>
                }
                @foreach (var role in Model.Data)
                {
                    string disableDesc = string.Empty;
                    string disableClass = string.Empty;

                    if ((bool)role.Disable)
                    {
                        disableDesc = "停用";
                        disableClass = "back-red";
                    }
                    else
                    {
                        disableDesc = "啟用";
                    }

                    string tooltipStyle = string.Empty;
                    string tooltipData = string.Empty;
                    string tooltipClass = string.Empty;
                    if (role.UsedUserInfo.Count() > 0)
                    {
                        tooltipStyle = "btn-success";
                        tooltipClass = "tooltip-user-list";
                        foreach (var u in role.UsedUserInfo)
                        {
                            tooltipData += string.Format("{0}--{1}<br>", u.ID, u.Name);
                        }
                    }
                    else
                    {
                        tooltipStyle = "btn-danger";
                    }
                    <tr class="gradeX">
                        <td>
                            <button class="btn btn-info" type="button" onclick="location.href='@Url.Content("~/Role/RoleEdit?roleID=" + role.ID)'">
                                <i class="icon-edit"></i>
                                <span>編輯</span>
                            </button>
                            <button class="btn btn-danger delete-btn" type="button" id="@role.ID" role-name="@role.Name">
                                <i class="icon-edit"></i>
                                <span>刪除</span>
                            </button>

                        </td>
                        <td>@role.Code</td>
                        <td>@role.Name</td>
                        <td>
                            <div>
                                <a title="" data-content="@tooltipData" data-placement="left" data-toggle="popover" class="btn @tooltipStyle @tooltipClass" href="" data-original-title="使用者清單">@role.UsedUserInfo.Count()</a>
                            </div>

                        </td>
                        <td>@role.MenuCount</td>
                        <td class="@disableClass">@disableDesc</td>
                        <td>@role.BuildUserADAccount</td>
                        <td>@role.BuildDateStr</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--table end-->
@section IncludeJS
{
    <script>
        $(function () {
            $(".tooltip-user-list").popover();

            //刪除
            $('.delete-btn').click(function () {
                var id = $(this).attr('id');
                var url = "@Url.Content("~/Role/RoleDelete")";
                var roleName = $(this).attr('role-name');
                $.confirm({
                    title: '提示',
                    content: '確定要<span style="color:red;font-size:2em;">刪除</span>角色：<span style="color:green;font-size:2em;">' + roleName + '?</span>',
                    buttons: {
                        confirm: {
                            text: '確定',
                            action: function () {

                                $.ajax({
                                    async: false,
                                    url: url,
                                    data: { ID: id },
                                    type: 'POST',
                                    dataType: 'json',
                                    success: function (data) {
                                        if (data.success) {
                                            window.location.reload()
                                        }
                                        else {
                                            pNotifyErrorAlert(data.messages);
                                        }
                                    }, error: function (error) {
                                        alert(error.messages);
                                    }
                                });
                            }
                        },
                        cancel:
                    {
                        text: '取消',
                        action: function () {
                        }
                    }
                    }
                });
            })
        })
        function pNotifyErrorAlert(msg) {
            new PNotify({
                title: 'Error',
                text: msg,
                type: 'error'
            });
        }
    </script>
}